.header-container {text-align: center; margin: 50px 0px;}
            
.table-wrapper table {border: 1px solid #000;margin: 0 auto;}
.table-wrapper table .no {width:50px; text-align: center;}
.table-wrapper table .subject {width:700px;}
.table-wrapper table .author {width:150px; text-align: center;}
.table-wrapper table .date {width:150px;}
.table-wrapper table tbody > tr td:first-child,td:last-child {text-align: center;}

.form-container {width: 100%; margin-top: 50px; text-align: center;}
.form-container .form-wrapper {display: inline-block; width: 800px;}
.form-container .form-wrapper form {display:inline-block; padding: 20px; border: 1px solid #000; border-radius: 5px;}
.form-container .form-wrapper form input,textarea {margin: 10px 0; width: 200px;}